html {
   background-color: rgb(236, 57, 57);
}

body{
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 700%;
    font-weight: 400%;
    font-family: share tech mono;
    /* background-color: rgb(236, 57, 57);   */
    text-shadow: 2px 2px 2px black;
    color: #fff; /* Set the text color */
    text-shadow: 
        -2px -2px 0 #000, 
         2px -2px 0 #000, 
        -2px  2px 0 #000, 
         2px  2px 0 #000;
    }
    

#darkModeToggle {
   color: grey;
   border: 2px solid black;
   border-radius: 10px;
   padding: 12px;
}
.dark-mode {
   background-color: #333;
   color: #fff;
}
.toggle-container {
   position: fixed;
   top: 20px;
   right: 20px;
}
.toggle-btn {
   cursor: pointer;
   padding: 10px;
   background-color: #ddd;
   border: none;
   outline: none;
   font-size: 16px;
   border: 2px solid black;
   border-radius: 10px;
}

main{

   display: flex;
   position: relative;
   top: 160px;
   left: 30px;
}

.container{

   display: flex;
   flex-direction: row;
   position: relative;
   right: 4%;
}

.split-left{

   position: relative;
   right: 10px;
}

.split-right{
   position: relative;
   left: 5%;
   

}

#encyclopedia{
   font-size: 25%;
   padding-left: 2%;
}

#pokeball{
    width: 350px;
    top: 0;
    left: 0;
    padding-left: 4%;
    };
  

 #pokemonSprite{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% 200px;
    height: 200px;
 }

 #pokemonName{
    font-family: share tech mono;
    display: flex;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: dark;
    margin-bottom: 20%;
    height: 40px;
    width: 200px;
    position: relative;
    left: 15.5%;

 }

 #fetchButton{
    font-family: share tech mono;
    color: white;
    background-color: rgb(236, 57, 57);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(80, 75, 75);
    position: relative;
    left: 20%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: -90px;
 }
 #charizard{
   height: 1000px;
   width: 1000px;
   padding-bottom: 50%;
   

}
 #nameDiv{
    display: flex;
    flex-direction: column;
 }

 .footer{

   position: relative;
   
 }