html {
   background-color: rgb(236, 57, 57);
}

body{
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 300%;
    font-weight: 400%;
    font-family: share tech mono;
    background-color: rgb(236, 57, 57);
    
}


#pokeball{
    width: 270px;
    top: 0;
    left: 0;
    };
  

 #pokemonSprite{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% 200px;
    height: 200px;
 }

 #pokemonName{
    font-family: share tech mono;
    display: flex;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: dark;
 }

 #fetchButton{
    font-family: share tech mono;
    color: white;
    background-color: rgb(236, 57, 57);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(80, 75, 75);
    

 }

 #nameDiv{
    display: flex;
    justify-content: left;
 }

