 html{
   background-color:rgb(236, 57, 57);
 }

 body{
   width: 100%;
   height: 100vh;
   margin: 0%;
   padding: 0%;
   font-size: 700%;
   font-weight: 400%;
   /* background-color: rgb(236, 57, 57);   */
   font-family: share tech mono;
   text-shadow: 2px 2px 2px black;
   color: #fff; /* Set the text color */
   text-shadow: 
   -2px -2px 0 #000, 
   2px -2px 0 #000, 
   -2px  2px 0 #000, 
   2px  2px 0 #000;
   margin-top: -10%;
}
 
#darkModeToggle {
   color: grey;
   border: 2px solid black;
   border-radius: 10px;
   padding: 12px;
}

.dark-mode {
   background-color: #333;
   color: #fff;
}

.toggle-container {
   position: fixed;
   top: 20px;
   right: 20px;
}

.toggle-btn {
   cursor: pointer;
   padding: 10px;
   background-color: #ddd;
   border: none;
   outline: none;
   font-size: 16px;
   border: 2px solid black;
   border-radius: 10px;
}
 
main{

   display: flex;
   position: relative;
   top: 160px;
   left: 30px;
}

.container{

   display: flex;
   flex-direction: row;
   position: relative;
   right: 4%;
}

.split-left{

   position: relative;
   right: 10px;
}
 
.split-right{
   position: relative;
   left: 5%;
}
 
#encyclopedia{
   font-size: 25%;
   padding-left: 2%;
}
 
#pokeball{
   width: 300px;
   top: 0;
   left: 0;
   padding-left: 4%;
   margin-top: 50px;
}

#pokemonSprite{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50% 300px;
   height: 300px;
}
 
#pokemonName{
   font-family: share tech mono;
   display: flex;
   text-align: center;
   border: 2px solid black;
   border-radius: 10px;
   background-color: dark;
   margin-bottom: 20%;
   height: 40px;
   width: 200px;
   position: relative;
   left: 9%;
}

#fetchButton{
   font-family: share tech mono;
   color: white;
   background-color: rgb(236, 57, 57);
   width: 150px;
   height: 40px;
   border: none;
   border-radius: 10px;
   background-color: rgb(80, 75, 75);
   position: relative;
   left: 9%;
   border: 2px solid black;
   border-radius: 10px;
   margin-top: -90px;
}
#charizardGif{
   height: 1100px;
   width: 1100px;
   padding-bottom: 50%;

}
#nameDiv {
   display: flex;
   flex-direction: column;
   position: relative;
}

#suggestions {
   position: absolute;
   width: 200px; /* Set the width as needed */
   max-height: 200px; /* Set the maximum height for the container */
   overflow-y: auto; /* Enable vertical scrolling if needed */
   top: 40px; /* Adjust this value to match the height of your input box */
   background-color: #ffffff5b; /* Add a background color */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for styling */
   z-index: 1; /* Ensure suggestions appear above other elements */
   left: 10%;
   border-radius: 5px;
   
}


.suggestion-item {
   padding: 8px;
   cursor: pointer;
   border-bottom: 1px solid #ccc;
}

.suggestion-item:last-child {
   border-bottom: none;
}

.suggestion-item:hover {
   background-color: #f2f2f2;
}

.suggestion-button {
   display: block;
   background-color: rgb(211, 211, 211);
   width: 100%; /* Make the suggestions take the full width of the container */
   height: 40px;
   padding: 8px;
   cursor: pointer;
   border: 1px solid #ccc;

}

.suggestion-button:hover {
   background-color: rgb(225, 224, 224);
}
 
.footer{
   position: relative;   
}


#card{
   margin-top: 5px;
   margin-left: auto;
   margin-right: auto;
   height: 650px;
   width: 500px;
   border: solid black;
   border-radius: 5%;
   display: none;
   justify-content: center;
   background-color: lightgray;
   left: 300%;
 }

 #card:hover{
   background-color: rgb(234, 233, 233);
   cursor: pointer;
   /* height: 700px; */
   /* width: 550px; */
   /* transform: translate(-50%, -50%); */
   /* transition: width 0.5s ease, height 0.5s ease; */
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1)
}

.expanding-element.expanded {
    width: 350px; /* Set your desired expanded width */
    height: 350px; /* Set your desired expanded height */
}


 #pokemonSprite{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50% 300px;
   height: 300px;
}

#name{
   font-size: 60px;
   text-align: center;
   margin-bottom: 20px;
 }

#dexNum{
   font-size: 50px;
   text-align: center;
 }

#type{
   font-size: 50px;
   text-align: center;
   margin-bottom: 20px;
 }

#modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 15%;
   top: 7.5%;
   width: 120%; /* Full width */
   height: 120%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(255, 255, 255); /* Fallback color */
   width: 1000px;
   height: 700px;
   border: black 2px;
   border-radius: 10px;
   justify-content: center;
   text-align: center;
   text-shadow: none;
   color: black;
   border-radius: 4%;
   box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8)
 }

 .close {
   color: #000000;
   float: right;
   font-size: 80px;
   bottom: 3%;
   font-weight: bold;

 }
 
 .close:hover,
 .close:focus {
   color: black;
   cursor: pointer;
 }

 #summary{
   font-size: 50px;
   color: black;
 }

 #hp{
   color: black;
 }

 #baseStats{
   font-size: 20px;
 }

.pikachu{
   width: 50px; 
   height: auto; 
   position: absolute;
    bottom: 10px;
    right: 10px;
}


footer{
font-size: 22px;
text-align: end;
position: relative;
right: 2%;
}